.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

.navbar {
  width: 20%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}

.details {
  width: 35%;
  margin: auto;
}

.faculties {
  margin-bottom: 20px;
  text-align: center;
  color: rgb(12, 135, 12);
}
.para {
  text-align: center;
}
.card-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.div1,
.div2,
.div3 {
  text-align: center;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.customers,
.students,
.doctors {
  font-size: 15px;
}
.no {
  color: rgb(12, 135, 12);
  background-color: none;
}
* {
  margin: 0;
  padding: 0;
  background-color: rgb(194, 214, 214);
}

.whole {
  font-family: Poppins;
  /* background-color: rgb(194, 214, 214); */
}

.body {
  background-color: rgb(194, 214, 214);
}
